body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: #E5E5E5;
    width: 100%;
}

.header {
    background-color: #202846;
    height: 90px;
    position: relative;
}

.logo {
    background-image: url("./img/logo.png");
    height: 70px;
    background-repeat: no-repeat;
    position: absolute;
    width: 179px;
    top: 10px;
    left: 50px;
}

.menu {
    display: inline-block;
    margin: 1% 0 0 35%;
    height: 100%;
    width: 60%;
}

.header__menu {
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    box-sizing: border-box;
    padding: 1% 2% 1% 2%;
    border-right: 2px solid #fff;
}

.header__menu a {
    width: 100%;
    text-decoration: none;
    color: #fff;

}

.logo__2 {
    background-image: url("./img/logo2.png");
    background-repeat: no-repeat;
    height: 68px;
    width: 118px;
    top: 1%;
    right: 2%;
    position: absolute;
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
}

.title {
    background-color: #C6C6DC;
    height: 180px;
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    box-sizing: border-box;
    padding: 4% 15%;
    margin-bottom: 10%;

}

.up {
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(85, 87, 104, 0.62);
    left: 95%;
    top: 85%;
    box-sizing: border-box;
    padding: 5px 24px;
}

.up a {
    text-decoration: none;
    font-size: 250%;
    color: rgba(85, 87, 104, 0.62);
}

.card {
    background-color: #BDBDC6;
    width: 88%;
    margin: 2% 5%;
    position: relative;
    height: 275px;

}

.star {
    position: absolute;
    left: 96%;
    top: 4%;
}

.star:hover path {
    fill: yellow;
}

.btn {
    background-color: #202846;
    position: absolute;
    top: 80%;
    left: 90%;
    width: 13%;
    height: 18%;
    border-radius: 30px
}

.btn a {
    text-decoration: none;
    color: white;
    padding: 4% 22%;
    font-size: 24px;
    font-weight: 400;
    display: block;
}

.card__img {
    box-sizing: border-box;
    padding: 1% 4%;
    width: 45%;

}

.card__box {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.card__title {
    font-size: 1.4em;
    font-style: italic;
    font-weight: 700;
    border-bottom: 3px solid #fff;
    color: #353C57;
    padding: 2% 47% 0% 0%;
}

.card__description {
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
    color: #202846;
    background-color: #D7D7DD;
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    padding: 2%;
    margin: 1% 0;
}

.footer {
    background-color: rgba(32, 40, 70, 1);
    height: 90px;
    margin: 5% 0 0;
}

.footer__text {
    font-size: 34px;
    font-weight: 400;
    font-style: italic;
    box-sizing: border-box;
    color: rgba(238, 236, 241, 1);
    padding: 1% 6%;
}