.img__1 {

    background-color: #FFCE22;
    height: 512px;
    width: 512px;
    margin: 2%;
    display: inline-block;

}

.picture__1 {
    background-color: #2137FC;
    height: 260px;
    width: 512px;


}

.content__1 {
    padding: 152px 52px;
    box-sizing: border-box;
    text-align: center;
}

.radius__2 {
    background-color: white;
    height: 512px;
    width: 512px;
    border: 0.5px solid;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    overflow: hidden;
    margin: 2%;


}

.img__2 {
    background-color: #FFCE22;
    height: 512px;
    width: 512px;
    display: inline-block;


}

.picture__2 {
    background-color: #2137FC;
    height: 260px;
    width: 512px;

}

.content__2 {
    box-sizing: border-box;
    padding-left: 55px;
    padding-top: 260px;
}

.content__5 {
    text-align: center;
    padding: 60px 0;
}

.content__6 {
    text-align: center;
    padding: 60px 80px;
}

.content__7 {
    padding: 120px 170px;
}

.content__8 {
    padding: 55px 75px;
}

.content__9 {
    padding: 165px 100px;
}

.content__10 {
    padding: 150px 90px;
}

.img__3 {
    background-color: black;
    height: 512px;
    width: 512px;
    margin: 2%;
    display: inline-block;
    text-align: center;
}

.picture__3 {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
}

.content__11 {
    padding: 32% 20%;
}

.picture__4 {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
    height: 60px;
    width: 80px;
    margin: 30px 220px;

}

.content__12 {
    padding-top: 120px;
}


.picture__5 {
    background-image: url("./img/5.png");
        margin: 0 425px;
    height: 60px;
        width: 80px;

}