body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.form {
    background-color: #E5E5E5;
    max-width: 1000px;
    min-width: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 8% 3%;
}

.h1 {
    box-sizing: border-box;
    padding-bottom: 5%;
    margin: 0;
    font-weight: 700;
}

.span__star {
    color: red;
}

.star {
    font-weight: 400;
}

.title {
    font-weight: 700;
    font-size: 2vw;
    box-sizing: border-box;
    padding: 4% 0;
}

.mold {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.one {
    width: 48%;
    font-weight: 400;
}

.one__title {
    display: block;
    box-sizing: border-box;
    padding-bottom: 1%;
    font-weight: 500;
    font-size: 1.2vw;
}

.el {
    width: 88%;
    box-sizing: border-box;
    padding: 1%;
    font-weight: 400;
    font-size: 1vw;
    color: rgba(23, 23, 23, 1);
    border: 10px solid white;
    border-radius: 4px;
    margin: 3% 0;

}

.el__1 {
    color: rgba(116, 116, 116, 1);
    background-color: rgba(239, 239, 239, 1);
    border-color: rgba(239, 239, 239, 1);

}

.el__2 {
    background-image: url(./img/vector.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.value {
    color: rgba(0, 80, 216, 1);
}

.box {
    transform: scale(3);
    margin: 8% 4% 7% 4%;

}

.border {
    border-bottom: 1px solid #D1D1D1;
    ;
}

.two {
    display: flex;
    align-items: center;
    width: 48%;
    font-weight: 400;
}

.el__3 {
    background-image: url(./img/seach.svg);
    background-repeat: no-repeat;
    background-position: right;

}

.btn {
    background-color: rgba(0, 80, 216, 1);
    color: white;
    box-sizing: border-box;
    padding: 2% 5%;
    font-size: 1.5vw;
    border-radius: 4px;
    float: right;
    margin: 3% 6%;
}