:root {
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    max-width: 950px;
    min-width: 750px;
    background-color: rgba(255, 176, 132, 1);
    margin: 0 auto;
    border-radius: 20px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 3%;
    padding: 3%;
}

.johnny {
    background-color: white;
    border-radius: 20px;
    box-shadow: 7px 7px 0px #000000;
    grid-row-start: 1;
    grid-row-end: 4;

}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
    padding: 5% 0;
}

.img {
    text-align: center;
}

.information {
    list-style: none;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 5%;

}

.span__title {
    font-weight: 700;
}

.quote {
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: white;
    border-radius: 20px;
    box-shadow: 7px 7px 0px #000000;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    padding: 10% 3%;

}

.bio {
    grid-column-start: 2;
    grid-column-end: -1;
    background-color: white;
    border-radius: 20px;
    box-shadow: 7px 7px 0px #000000;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 3%;
}

.goals {
    color: #29A71E;
    background-color: white;
    border-radius: 20px;
    box-shadow: 7px 7px 0px #29A71E;
    padding: 5% 12%;
    font-weight: 700;
    font-size: 1.4rem;
}

.goals__information {
    color: #000000;
    font-weight: 400;

}

.dream__companies {
    grid-column-start: 2;
    grid-row: 3/5;
    color: #3675B0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 7px 7px 0px #3675B0;
    padding: 5% 12%;
    font-weight: 700;
    font-size: 1.4rem;
}

.dream__companies_information {
    color: #000000;
    font-weight: 400;
    padding: 5%;}

.frustrations {
    color: #E13535;
    background-color: white;
    border-radius: 20px;
    box-shadow: 7px 7px 0px #E13535;
    grid-row: 2/4;
    padding: 5% 12%;
    font-weight: 700;
    font-size: 1.4rem;
}

.frustrations__information {
    color: #000000;
    font-weight: 400;
    padding: 5%;
}
.personality{
    background-color: white;
        border-radius: 20px;
        box-shadow: 7px 7px 0px #000000;
        font-weight: 700;
        font-size: 1.4rem;
        padding: 3% 6%;
        
}
.personality__information{
    list-style: none;
    font-weight: 400;
}
