:root {
    font-size: 10px;
}

*,
*:after,
*:before {
    font-family: 'Rosario', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    background: black;
    position: fixed;
    z-index: 2;
    width: 100%;

}

.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: 700;
    font-style: italic;
    align-items: center;
}

li.header__menu a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    padding: 20px 20px;
    font-size: 3.6rem;


}

.conteiner {
    padding-top: 9%;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: auto;

}

.gallery__1 img {
    width: 100%;
    padding-bottom: 5%;
}

.gallery__1 {
    width: 23%;

}

.center_left {
    animation: center_left 2.5s;
}

.center_right {
    animation: center_right 2.5s;
}

@keyframes center_left {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes center_right {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateY(0);
    }
}

.out_left {
    animation: out_left 5s;
}

.out_right {
    animation: out_right 5s;
}

@keyframes out_left {
    0% {
        transform: translateX(-250%)
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes out_right {
    0% {
        transform: translateX(250%)
    }

    100% {
        transform: translateY(0);
    }
}

.services {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.services img {
    width: 100%;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

h3 {
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
}

.hair_styling,
.beard_trimming,
.smooth_shave,
.hair_straightening {
    width: 34%;
}

.hair_styling {
    animation: heir_styling 10s infinite;
}

.beard_trimming {
    animation: beard_trimming 10s infinite;
}

.smooth_shave {
    animation: smooth_shave 10s infinite;
}

.hair_straightening {
    animation: hair_straightening 10s infinite;
}

@keyframes heir_styling {
    0% {}

    25% {
        transform: translateX(150%);
    }

    50% {
        transform: translate(150%, 100%);
    }

    75% {
        transform: translate(0, 100%);
    }

    100% {}
}

@keyframes beard_trimming {
    0% {}

    25% {
        transform: translateY(100%);
    }

    50% {
        transform: translate(-150%, 100%);
    }

    75% {
        transform: translate(-150%, 0);
    }

    100% {}
}

@keyframes smooth_shave {
    0% {}

    25% {
        transform: translateY(-100%);
    }

    50% {
        transform: translate(150%, -100%);
    }

    75% {
        transform: translate(150%, 0);
    }

    100% {}
}

@keyframes hair_straightening {
    0% {}

    25% {
        transform: translateX(-150%);
    }

    50% {
        transform: translate(-150%, -100%);
    }

    75% {
        transform: translate(0, -100%);
    }

    100% {}
}

.team__title {
    text-align: center;
    font-weight: 700;
    font-size: 6rem;
    padding-bottom: 2%;
}

.team_menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
    overflow: hidden;

}

.team_menu img {
    width: 100%;
    position: relative;
    display: block;
    opacity: 1;
}

.team_menu figure figcaption {
    color: #FFFAFA;
    text-transform: capitalize;
    backface-visibility: hidden;
}

.meredith,
.jason,
.ryan,
.james {
    padding: 0 1%;
    position: relative;
}

.team_menu figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.team_menu figure p {
    letter-spacing: 1px;
    font-size: 3rem;
    font-family: 'Volkhov', serif;
    font-weight: 400;
    text-align: center;
}

figure.meredith figcaption::before,
figure.meredith p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.meredith p {
    position: absolute;
    bottom: 0;
    left: 1%;
    padding: 3rem;
    width: 98%;
    opacity: 0;
    border-radius: 0 0 35px 35px;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(163, 83, 10, 0.7) 75%);
    transition: 1.5s;


}

figure.meredith:hover figcaption::before,
figure.meredith:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.jason p {
    position: absolute;
    bottom: 0;
    left: 1%;
    padding: 3rem;
    width: 98%;
    opacity: 0;
    border-radius: 0 0 35px 35px;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(163, 83, 10, 0.7) 75%);
    transition: 1.5s;


}

figure.jason:hover figcaption::before,
figure.jason:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.ryan p {
    position: absolute;
    bottom: 0;
    left: 1%;
    padding: 3rem;
    width: 98%;
    opacity: 0;
    border-radius: 0 0 35px 35px;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(163, 83, 10, 0.7) 75%);
    transition: 1.5s;


}

figure.ryan:hover figcaption::before,
figure.ryan:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.james p {
    position: absolute;
    bottom: 0;
    left: 1%;
    padding: 3rem;
    width: 98%;
    opacity: 0;
    border-radius: 0 0 35px 35px;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(163, 83, 10, 0.7) 75%);
    transition: 1.5s;


}

figure.james:hover figcaption::before,
figure.james:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 2%;
}

.contact__title {
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
    font-style: italic;



}

.form {
    background-color: rgba(229, 229, 229, 1);
    width: 80%;
    margin: 2% auto;
    box-sizing: border-box;
    padding: 2%;
}


.form_text {
    display: flex;
    justify-content: space-around;
    font-weight: 700;

}
.field{
    width: 40%;
}

.form_text input {
    padding: 2% 14%;;
}
textarea{
    margin: 2% auto;
    resize: none;
    width: 85%;
    padding: 2% 4%;

}
.contact_menu{
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    

}
li a{
    text-decoration: none;
    color: black;
    
}
.span_title{
    font-weight: 700;
    font-style: bold;
    font-size: 1.8rem;
}
.contact_menu li{
    list-style: none;
}
.span_title+p{
    padding-top: 8%;
}