.body {
    font-family: 'Inika', serif;
}

.header {
    max-height: 110px;
    min-height: 60px;
    font-size: 48px;
    text-align: center;
    color: #3E45E8;
    font-weight: 400;
    font-family: 'M PLUS 1p', sans-serif;
}

.header__span {
    color: #E8C23E;
}

.banner {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 803px;
    padding-left: 80px;
    box-sizing: border-box;
    padding-top: 206px;

}

.content {
    background-image: url("./img/flag.png");
    background-repeat: no-repeat;
    height: 272px;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    width: 80%;
    box-sizing: border-box;
    padding-left: 118px;
}

.main {
    padding: 0 80px;

}

.h1 {
    font-size: 40px;
    margin: 72px 0;
    font-weight: 700;

}

.line {
    border-bottom: 5px solid #3E45E8;
    width: 402px;

}

.card {
    width: 30%;
    border: 1px solid black;
    display: inline-block;
    border-radius: 40px;
    box-shadow: 1px 3px 25px black;

}

.card__image {
    width: 100%;

}

.card__title {
    color: #1E8DF2;
    font-size: 24px;
    font-weight: 700;
    padding: 15px;
    box-sizing: border-box;

}

.card__subtitle {
    color: #E8C23E;
    font-size: 20px;
    font-weight: 400;
    padding: 15px;
    box-sizing: border-box;
}

.card__center {
    margin: 0 4.5%;
}

.title {
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: 700;
    padding-top: 74px;
    box-sizing: border-box;



}

.line__2 {
    margin: 2% 40%;
}

.btn {
    border: solid;
    background-color: #2A61F0;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 92px;
    box-sizing: border-box;
    font-size: 64px;
    font-weight: 700;
}

.footer {
    background-color: #2F4A4B;
    margin-top: 2%;
    max-height: 500px;
    min-height: 170px;
    text-align: center;
    font-family: 'Marcellus SC', serif;
    font-size: 34px;
    font-weight: 400;
    color: #A89D9D;
    text-decoration: none;

}

.footer__text {
    color: #3E45E8;
    font-weight: 400;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 48px;

}

.footer__span {
    color: #DFE31E;
}

.contact {
    display: inline-block;
    margin-top: 1%;
}