body,
ul {
    margin: 0;
    padding: 0;
    background-color: #212529;
    cursor: url("./img/cursor.png") 4 12, auto;
}

a {
    cursor: url("./img/seach.png") 2 2, pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 3%;
    align-items: center;
    padding: 1%;
    font-family: 'Poppins', sans-serif;
}

.menu {
    display: flex;
    list-style: none;
    font-weight: 600;
}

li.header-menu a,
.btn {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    padding: 12px 12.5px;
    font-size: 1vw;
    box-sizing: border-box;

}

.header-menu>a:active {
    color: #FFB742;

}

.btn {
    color: #212529;
    padding: 12px 25px;
    background-color: #FFB742;
    border-radius: 50px;
    font-weight: 700;

}

.content__text {
    margin: 8%;
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;

}

.content__1 {
    font-size: 2vw;
    font-weight: 700;

}

.content_1 {
    color: #FFB742;

}

.content__2 {
    font-size: 3vw;
    font-weight: 700;
    box-sizing: border-box;
    padding: 2% 0 4% 0;
}

.content__3 {
    font-size: 1.5vw;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0 0 4%;
}

.main {
    display: flex;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2vw;
    box-sizing: border-box;
    padding: 0 3%;


}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(56, 62, 69, 0.44);
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 30%;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    padding: 2%;

}

.card__span {
    display: block;
    color: #FFB742;
    text-align: center;
    font-size: 2.2vw;

}

.card__title {
    box-sizing: border-box;
    padding: 0px 14%;
    font-size: 1.3vw;
}


.card:hover,
.card:hover .card__span {
    color: #212529;
    background: #FFB742;
    fill: #212529;

}

.card:hover svg path {
    fill: #000
}

.aboutme {
    display: flex;
    margin: 5%;
}

.aboutme__text {
    box-sizing: border-box;
    padding: 5% 2%;
}

.aboutme__question {
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #FFB742;
    text-transform: uppercase;
    display: inline;
    box-sizing: border-box;
    padding: 2% 4%;
}

.aboutme__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 4vw;
    box-sizing: border-box;
    padding: 2% 0;
}

.aboutme__subtitle {
    color: #D4D4D4;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.1vw;
    padding-bottom: 11%;
}

.btn__2 {
    padding: 3% 5%;
    font-size: 2vw;
}

.work {
    text-align: center;
    text-transform: capitalize;
}

.work__title {
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #FFB742;
    text-transform: uppercase;
    display: inline;
    box-sizing: border-box;
    padding: 1% 2%;
    font-size: 1.4vw;
}

.work__subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 4vw;
    box-sizing: border-box;
    padding: 2% 0;

}

.work__menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    box-sizing: border-box;
    padding: 0 15%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2vw;
}

.work_menu {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    box-sizing: border-box;
    padding: 1% 2%;

}

.work__image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 5% 8%;
}

.work_image {
    padding: 1%;
}

.work_menu:active {
    color: #212529;
    background-color: #FFB742;

}

.footer {
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-evenly;
    text-transform: capitalize;
    font-family: 'Work Sans', sans-serif;
}

.footer__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #FFB742;
    font-size: 2vw;
    box-sizing: border-box;
    padding: 5% 2%;
}

.footer__subtitle {
    color: #D4D4D4;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.4vw;
    box-sizing: border-box;
    padding-top: 10%;

}

.footer__nav {
    color: #F5FBF2;
    font-weight: 700;
    box-sizing: border-box;
    padding: 5% 2%;
    list-style: none;
    font-size: 1.4vw;

}

.footer__menu {
    background-color: #1C1C1C;
    text-decoration: none;
    list-style: none;
    color: #7B7B7B;
    padding: 10% 0;
    font-size: 1.2vw;
}